@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

/* For Microsoft Edge and other WebKit-based browsers */
* {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.gradient {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(136, 136, 136) 50%, rgb(0, 0, 0) 100%);
}
